.Login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
}

.heading--secondary{
    text-align: center;
    color: #b52aff;
    font-size: 3rem;
}