$h2Clr: #C822FF;
$borderClr: #6DC7FF;


.Header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-items: center;
    flex-wrap: wrap;
    max-height: 40vh;
    &-svg{
        margin-top: 3.5rem;
        margin-left: 6.8rem;
        width: 45rem;
    }
    &-txt,
    &-txt--label{
        color: $h2Clr;
        font-size: 3.8rem;
        font-weight: 400;
        width: 100%;
    }
    &-col-btns{
        position: relative;
        left: 60rem;
        bottom: 20rem;
    }
    &-input{
        background-color: transparent;
        border: solid 1px $borderClr;
        border-radius: 8px;
        height: 5rem;
        width: 10rem;
        font-size: 2rem;
        text-align: center;
        color: $borderClr;
    }
}