$headingTxt: #6DC7FF;


.Bookcases{
    &--wrapper{
        height: 80vh;
        width: 100vw;
        padding: 2rem;
        display: flex;
        flex-direction: row;
    }
    &__section{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-heading-txt{
        color: $headingTxt;
        font-size: 2.5rem;
        font-weight: 500;
    }
    &-collection-wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}