.Logo{
    float: left;
    &-txt{
    color: #C822FF;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;  
    display: inline;
    position: absolute;
    top: -0.35rem;
    left: 12.9rem;
        &--low{
            display: flex;
        }
    }
}
