$txtPrimaryClr: #C467E3;
$h3HeadingClr: #9CD5F8;

.txt-primary,
.Profile-heading-txt{
    color: $txtPrimaryClr;
}

.Profile{
    &-heading{
    text-align: center;
    margin-top: 8rem;
        &-txt{
            font-size: 3rem;
            font-weight: 500;
        }
    }
    &-books{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 5rem;
    }
}

.Booklist{
    overflow-y: scroll;
    margin-bottom: 3rem;
    border: solid 1px #9CD5F8;
    &-heading{
        font-size: 2.5rem;
        color: $h3HeadingClr;
        font-weight: 400;
        position: fixed;
    }
}

.txt-primary{
    font-size: 2.5rem;
}