$ftTxtClr: #1A6DFF;
$linkClr: #E6ABFF;

.Footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 2rem;
    padding-right: 2rem;
    bottom: 0;
    padding-bottom: .1rem;
    width: 100vw;
        &-icon{
            width: 3rem;
            margin: .3rem;
        }
        &-txt{
            color: $ftTxtClr;
            font-size: 1.1rem;
            margin-right: 2.5rem;
        }
        &-link{
            font-size: 1.1rem;
            margin: .3rem;
            transform: all .5s;
            &:link,
            &:active,
            &:visited{
                text-decoration: none;
                    color: $linkClr;
            }
            &:hover{
                color: lighten($linkClr, 80%);
            }
        }
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}
